*{
    transition: 0.5s;
margin: 0;
padding: 0;
font-size: 20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  
    background:linear-gradient(rgb(0, 234, 255),rgb(188, 188, 188));
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
}

.calculadora{
    box-shadow: 6px 3px 02px 0px;
    padding: 35px 10px 10px;
    border-radius: 5px;
    background-color: rgb(45, 44, 44);
    border: 1px solid;
}



.calculadora .tela{
    background-color: white;
    border-radius: 3px;
    height: 70px;
    margin: auto;
    width: 96%;
    
}
.result{
    max-width: 300px;
    line-height: 60px;
    text-align: right;
    font-size: 30px;

}

#teclado table tr td .bnt{
    min-width: 70px;
    min-height: 45px;
    margin: 2px;
    background-color: rgb(225, 225, 225);

    display: flex;
    align-items: center;
    justify-content: center;

}
#teclado table tr td .bnt:hover{
    background: rgb(188, 188, 188);
}

#teclado table tr td .ac{
    min-width: 145px;
    background-color:rgb(0, 234, 255) !important ;
}
#teclado table tr td .ac:hover{
    background-color:rgb(0, 213, 255) !important ;

}

.bnt{

 
    padding: 10px ;
    margin: 1px;
}


.operador{
    background-color:rgb(0, 234, 255) !important;
}
.operador:hover{
    background-color:rgb(0, 213, 255) !important ;

}

button{
    border: 0;
    border-radius: 2px;
    cursor: pointer;
    background-color:none !important;
}


